<!--
  Add custom HTML at the start of <head>
-->
<script src="https://unpkg.com/@waline/client@v2/dist/waline.js"></script>
<link
  rel="stylesheet"
  href="https://unpkg.com/@waline/client@v2/dist/waline.css"
/>
<link rel="stylesheet" href="/assets/css/non-critical/comment.css" />
{{ if not .Site.IsServer }}
<script defer src="https://lynsumami.vercel.app/script.js" data-website-id="8dabf92b-ad75-48bd-a8e0-c30b538a16b0"></script>
{{ end }}
{{if .Page.Site.Params.fancybox }}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
{{ end }}

<!-- 霞鹜文楷 Regular -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/satouriko/LxgwWenKai_Webfonts@v1.101/dist/LXGWWenKai-Regular.css" />
<!-- 霞鹜文楷 Mono Regular -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/satouriko/LxgwWenKai_Webfonts@v1.101/dist/LXGWWenKaiMono-Regular.css" />


<style>
  :root {
      --article-font-family: "Noto Serif SC", var(--base-font-family);
  }
</style>

<script> //正文字重300，标题字重700
  (function () {
      const customFont = document.createElement('link');
      customFont.href = "https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@300;700&display=swap"; 
      customFont.type = "text/css";
      customFont.rel = "stylesheet";
  
      document.head.appendChild(customFont);
  }());
</script>
