.layout {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

main {
  align-items: start;
  display: grid;
  grid-area: main;
  grid-template-areas: "empty content sidebar";
  grid-template-columns: 1fr minmax(0, 650px) 4fr;
}

header {
  background: var(--bg1);
  grid-area: header;
}

footer {
  grid-area: footer;
}

main,
footer {
  margin: 0.5em 1.1em;
}

.content {
  grid-area: content;
}

.sidebar {
  display: none;
  flex-direction: column;
  grid-area: sidebar;
  margin-top: 3rem;
  position: sticky;
  top: 2rem;

  @media (--lg) {
    display: flex;
  }
}

/* 友链 */

.friend-avatar {
  display: none;
  width: 60px;
  height: 60px;
  padding: 1px;
  margin-top: 14px;
  margin-left: 14px;
  margin-bottom: min(6px);
  border-radius: 0px;
  border: 0;

  [data-scheme="dark"] & {
    border: 0;
  }
}

.friend-link-div {
  /* // 实现卡片双栏排列效果 */
  height: auto;
  margin-top: auto;
  margin-inline-start: 4.5%;
  width: 40%;
  display: inline-block !important;

  padding-left: 10px;
  /* // 控制上下连续排列的卡片之间的行距 */
  margin-bottom: 14px;
  margin-right: 5px;

  /* // 卡片圆角 */
  border-radius: 3px;
  border-left: 3px solid #ebaf17;

  border-left: var(--primary-alt) 5px solid;
  margin: 0.5rem 0;
  background: var(--bg1);

  /* // 卡片阴影 */
  /* -webkit-box-shadow: 0px 14px 32px 0px rgba(231, 224, 224, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0.7px 1px 6px 0px rgba(0, 0, 0, 0.16); */

  /* // 卡片背景色 */
  background: $friend-link-background-color;

  [data-scheme="dark"] & {
    background: $friend-link-background-color-dark;
  }

  /* // 卡牌气泡响应动画 */
  /* -webkit-transition: transform 0.4s ease;
  -moz-transition: transform 0.4s ease;
  -o-transition: transform 0.4s ease;
  transition: transform 0.15s ease; */
}

.friend-link-avatar {
  width: 90px;
  float: left;
  margin-right: 2px;
}

/* // name 特效样式， hover 气泡效果,友链 name 变色 */
.friend-link-info {
  margin-top: 13px;
  margin-right: 18px;
  color: var(--fg);
  &:hover {
    color: var(--primary-alt);
  }

  [data-scheme="dark"] & {
    color: $friend-link-color-dark;
  }

  &:hover {
    color: $friend-link-hover-color;

    [data-scheme="dark"] & {
      color: $friend-link-hover-color-dark;
    }
  }
}

/* // name 文字样式 */
.friend-name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-style: normal;
  font-weight: bold;
  font-family: "Noto Serif SC";
  font-size: 16px;
}

/* // bio 文字样式 */
.friend-bio {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-top: auto;

  /* // font: 12px/1 Tahoma,Helvetica,Arial,"\5b8b\4f53",sans-serif;font */
  font-family: "Noto Serif SC", "微软雅黑", Arial, sans-serif;
  font-size: 15px;

  color: $context-color;

  [data-scheme="dark"] & {
    color: $context-color-dark;
  }
}

@media screen and (max-width: 720px) {
  .friend-link-div {
    width: 92%;
    margin-right: auto;
  }

  .friend-bio {
    margin: auto;
    align-content: center;
    justify-content: left;
  }

  .friend-link-avatar {
    width: 84px;
    margin: auto;
  }

  /* .friend-link-info {
    //  height: 100%;
    // margin: auto;
    //     display: flex;
    //     align-items: center;
    //     justify-content: left;
  } */

  .friend-name {
    font-size: 14px;
    font-style: normal;
    font-family: "Noto Serif SC", "微软雅黑", Arial, sans-serif;
  }
}

.wl-addr {
  display: none !important;
  color: transparent !important;
}
.wl-content .vemoji,
.wl-content .wl-emoji {
  display: inline-block;
  vertical-align: baseline;
  height: 3.4em !important;
  margin: -0.125em 0.25em;
}

img.wl-emoji,
img.vemoji {
  vertical-align: sub;
  transition: ease-out 0.6s;
}

img.wl-emoji:hover,
img.vemoji:hover {
  transform: scale(1.8) !important;
}
