{{ define "main" }}
  <article class="post">
    {{ partial "post-header.html" (dict "page" . "pageIndex" 0) }}
    <div style="font-size: 14px; margin-top: 4px;">
      <span style="color: var(--primary-alt);"
        >{{ .WordCount }}
      </span>
      <span>words</span>
    </div>

    <div class="page-class">
    <div class="post-content">
      {{ .Content }}
    </div>
</div>
    {{ if .Params.SocialShare }}
      {{ partial "social-share.html" . }}
    {{ end }}

    {{ if .Params.Comments | default true }}
      {{ partial "comments.html" . }}
    {{ end }}
  </article>
{{ end }}
